
{%extends 'blogpostbase.html'%}

{%block blog%}
<!-- Page Content -->
<img src="{{url_for('static',filename='img/destaque2.jpg')}}"border-radius: 50%; width="100%" height="200"id ="box"> 

<!-- Title -->
<h2 class="mt-4">Power Apps, Power Automate e Power BI estão disponíveis nas novas regiões de datacenter da Microsoft na Alemanha em Frankfurt e Berlim</h2>

<p>Power Apps, Power Automate e Power BI estão disponíveis nas novas regiões de datacenter da Microsoft na Alemanha em Frankfurt e Berlim</p>
<p>Anunciando as zonas de disponibilidade do Azure para aplicativos altamente disponíveis e resilientes em janeiro de 2021</p>
<p>A migração para as novas regiões de nuvem alemãs está disponível para clientes com seus dados armazenados em repouso no Microsoft Cloud Deutschland ou no Microsoft Cloud na Europa</p>
<p>Desde o lançamento das regiões de datacenter da Microsoft na Alemanha em agosto de 2019 , vimos um impulso incrível com muitos clientes usando nossos serviços de nuvem de nível empresarial para produtividade, colaboração e transformação digital em todos os setores. As regiões de nuvem local da Microsoft ajudam a permitir que as organizações atendam aos requisitos regulamentares e de conformidade, incluindo o requisito de armazenar dados do cliente na Alemanha.</p>

<p>Continuamos a aumentar nossas ofertas de nuvem na Alemanha com Power Apps , Power Automate e Power BI  agora disponíveis nas regiões de nuvem alemãs. Em janeiro de 2021, as zonas de disponibilidade do Azure estarão geralmente disponíveis na região centro-oeste da Alemanha. As zonas de disponibilidade irão expandir as opções do cliente para desenvolver aplicativos altamente disponíveis e resilientes e fornecer a capacidade de resistir a falhas do datacenter. Além disso, para clientes do Microsoft 365 Multi-Geo, as regiões de nuvem alemãs serão adicionadas a uma lista crescente de geos com suporte a partir de 1º de outubro de 2020.</p>

<p>Hoje, as regiões de datacenter da Microsoft na Alemanha fornecem a inovação mais recente em Microsoft 365, Dynamics 365 e Azure, com residência de dados local, segurança e conformidade. Para melhor atender às necessidades atuais e futuras dos clientes, migraremos os clientes do Microsoft Cloud Deutschland (MCD), um ambiente de nuvem isolado, para as regiões de datacenter alemãs com o benefício da residência de dados local e retiraremos o MCD em 29 de outubro de 2021.</p>

<p>Novas opções de migração para as novas regiões de nuvem alemãs</p>

<p>Parceiros de longa data da Microsoft, incluindo a Deutsche Telekom AG, oferecem suporte à migração de clientes da Microsoft Cloud Germany para as regiões de nuvem da Alemanha. Os clientes que usam o Azure no MCD agora podem migrar para as novas regiões de nuvem alemãs. Os clientes que usam Microsoft 365, Microsoft Dynamics 365 e / ou Power BI serão informados por meio do Centro de Administração do Microsoft 365 quando essas migrações puderem ser iniciadas. As migrações iniciais começarão em breve, com migrações amplamente disponíveis a partir de janeiro de 2021.</p>

<p>Anunciando zonas de disponibilidade do Azure na Alemanha.</p>

<p>As zonas de disponibilidade fornecem aos clientes proteção adicional contra possíveis falhas de hardware, software e físicas para seus aplicativos de missão crítica, oferecendo acesso a locais isolados de falhas em uma região do Azure e rede independente, energia e resfriamento. Para clientes que usam duas ou mais zonas de disponibilidade na mesma região do Azure, a Microsoft garante a conectividade da máquina virtual para pelo menos uma instância 99,99% do tempo. As zonas de disponibilidade do Azure estarão geralmente disponíveis em janeiro de 2021 na região Centro-Oeste da Alemanha.</p>

<p>Atendendo às necessidades dos clientes de segurança de dados e conformidade na Alemanha</p>

<p>Com nossas regiões de nuvem alemãs, as empresas se beneficiam de conectividade total com a rede global de nuvem da Microsoft com os serviços inovadores mais recentes, ao mesmo tempo que atendem aos requisitos regulamentares, de segurança e conformidade. A Microsoft possui mais de 90 ofertas nacionais e internacionais de proteção de dados, segurança e conformidade, incluindo ISO 27001, ISO 27018, ISO 27701, SOC e o BSI C5 (Catálogo de critérios de conformidade de computação em nuvem). Hoje, também estamos anunciando que a Verband der Automobilindustrie certificou os serviços em nuvem da Microsoft com Trusted Information Security Assessment Exchange (TISAX) - Avaliação Nível 3 - um padrão definido para proteção de informações na indústria automotiva.</p>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
{% endblock %}
