
{%extends 'blogpostbase.html'%}

{%block blog%}
        
        <img src="{{url_for('static',filename='img/pc.jpg')}}"border-radius: 50%; width="100%%" height="200"id ="box"> 
   
        <!-- Title -->
        <h1 class="mt-4">It'sSeg analisa riscos de Covid-19 com Power BI</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="https://www.baguete.com.br/noticias/25/09/2020/itsseg-analisa-riscos-de-covid-19-com-power-bi">Luana Rosales</a>
        </p>

        

        <!-- Post Content -->
       <p>A It’sSeg, corretora de seguros especializada em gestão de benefícios, está utilizando o Power BI Premium, ferramenta de business intelligence da Microsoft, para identificar os riscos em relação à Covid-19 entre os beneficiários dos planos de saúde.</p>

        <p>O projeto teve implantação da W&S Central IT, especializada em tecnologias de BI da Microsoft.</p>

        <p>Como a It’sSeg atende clientes corporativos, os planos de saúde são contratados como benefícios para os colaboradores dessas empresas. Assim, a ideia é identificar quais são os funcionários mais suscetíveis aos riscos da doença e agilizar medidas preventivas.</p>

        <p>Através do chamado Sistema Inteligente de Saúde, são cruzados dados etários com dados de comorbidades, que são doenças correlacionadas. Desta forma, o recurso permite analisar um amplo volume de informações sobre a saúde e o perfil de usuários das corporações, assim como seus atendimentos médicos.</p>

        <p>A seguradora interpreta, então, de que forma os colaboradores dos clientes utilizam seus planos de saúde, para levar informações estratégicas à área de recursos humanos e à equipe de gestão médica.</p>

        <p>Por meio de um extenso banco de dados, é possível analisar o passado para enxergar os riscos e as possibilidades do futuro, minimizando a sinistralidade — que é a relação entre o número de procedimentos acessados pelo beneficiário e o valor pago pela empresa para o plano de saúde.

        <p>“Com base nessas informações, auxiliamos as empresas nos direcionamentos adequados das ações de gestão e promoção de saúde. A tecnologia é uma grande aliada do negócio, por meio do uso do plano de saúde", ressalta João Siqueira, diretor de tecnologia da It'sSeg.

        <p>Um dos clientes da It’sSeg, por exemplo, apresentava taxa de sinistralidade elevada, chegando a 121,40% e com tendência de aumento. </p>

        <p>A companhia identificou que 18% dos usuários do plano de saúde pertenciam a diversos grupos de riscos elevados, representando 63% dos custos assistenciais. </p>

        <p>A partir dos resultados, foi possível iniciar o monitoramento e os programas de gestão de saúde, com a implantação de medidas de conscientização por nove meses. </p>

        <p>Nesse período foram identificados 22 casos de sucesso, com um incremento médio de 16% nos sinistros e uma economia estimada em aproximadamente R$ 500 mil.</p>

        <p>Como forma de aumentar a assertividade das análises, o Sistema Inteligente de Saúde também permite gerar relatórios em tempo real, aprofundando o conhecimento e agilizando a tomada de decisões estratégicas pelas lideranças. </p>

        <p>Segundo a empresa, a inteligência incorporada ao sistema possibilita uma alta escalabilidade, melhor performance, redução de custos de propriedade e segurança da informação.</p>

        <p>No total, a It’sSeg afirma que já investiu cerca de R$ 1 milhão no desenvolvimento de ações de enfrentamento à pandemia. </p>

        <p>Fundada em 2014 com apoio do fundo inglês Actis, a It’sSeg está presente em cinco cidades das regiões Sudeste e Sul, atendendo 850 clientes corporativos com 950 mil beneficiários. </p>

        <p>Anualmente, a empresa recebe R$ 2,1 bilhões em prestações pagas pelos segurados.</p>

        <p>A W&S Central IT é uma empresa paulista, com filial em Joinville e especialização em tecnologias de BI da Microsoft e Qlik.</p>

        <p>Desde 2009, a companhia já entregou 700 projetos nessa área para 156 clientes, a maior parte deles em tecnologia da Microsoft.</p>
      {%endblock%}
       