
{%extends 'blogpostbase.html'%}

{%block blog%}

  <!-- Page Content -->
     <img src="{{url_for('static',filename='img/Power-Platform.png')}}"border-radius: 50%; width="100%" height="200"id ="box"> 
        <!-- Title -->
        <h2 class="mt-4">Microsoft apresenta plataforma que visa tornar mais seguro o retorno ao ambiente de trabalho</h2>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">Marcos</a>
        </p>

        <!-- Post Content -->
      <p>Uma das principais novidades apresentadas no Microsoft Inspire 2020: a nova solução Power Platform de retorno ao local de trabalho ainda em um mundo preocupado com o novo coronavírus. A solução foi pré-construída para ajudar as empresas a se prepararem com segurança para retornarem aos escritórios. </p>

      <p>Trata-se de um conjunto de módulos de ponta a ponta que promete ajudar as organizações a planejar, coordenar e gerenciar o retorno ao local de trabalho com confiança, ajudando a garantir a saúde e a segurança dos funcionários. </p>

      <p>A Microsoft promete que a nova solução é facilmente personalizável, com implantação rápida e construída em uma plataforma segura e compatível. "Juntos, os módulos fornecem uma experiência completa para líderes executivos, gerentes de instalações, funcionários, gerentes e líderes de saúde e segurança", garante a empresa. As soluções são:</p>

      <p>Prontidão de local: que permite que os gerentes das instalações e os líderes da força-tarefa determinem que a estrutura é segura para receber os funcionários</p>

      <p>Gerenciamento de saúde e segurança dos funcionários: capacita a força de trabalho com ferramentas de autoatendimento e inclui um aplicativo móvel que permite que eles façam check-in para trabalhar remotamente</p>

      <p>Gerenciamento de cuidados no local de trabalho: fornece aos líderes de saúde e segurança as ferramentas para gerenciar ativamente os casos Covid-19

      <p>Gerenciamento de localização (em breve): fornece aos gerentes das instalações as ferramentas necessárias para manter os locais abertos com segurança.</p>

      <p>Requerimentos</p>

      <p>São necessários:</p>

      <p>- Licença Power Apps 
      <p>- Licença do Power BI Premium ou Power BI Pro, se você usar o painel do Power BI disponível como parte desta solução</p>

{% endblock %}