
{%extends 'blogpostbase.html'%}

{%block blog%}
      
        <img src="{{url_for('static',filename='img/dadoschaodefabrica.png')}}"border-radius: 50%; width="100%" height="400"id ="box"> 
      
        <!-- Title -->
        <h2 class="mt-4">Dados do chão de fábrica: qual o nível de maturidade da sua empresa em sua utilização?</h2>

        <!-- Author -->
        <p class="lead">
          by
         <a href="https://www.linkedin.com/pulse/dados-do-ch%C3%A3o-de-f%C3%A1brica-qual-o-n%C3%ADvel-maturidade-da-em-baesso-althof/">Rudimar Baesso Althof</a>
        </p>

      <p style="text">
       Toda empresa possui dados, não importa o tamanho.
       Pode ser uma barraquinha de cachorro quente, que contabiliza as vendas e o produto mais 
       vendido para planejar seu estoque até uma multinacional que possui dados sobre estoque,
       vendas, produção, RH, entre outros.
      </p>
      
      <p>Porém, nem toda empresa utiliza os dados da mesma forma:
       algumas não fazem nada ainda enquanto outras geram indicadores e fazem projeções para o futuro.
      </p>

      <p>A imagem abaixo mostra quais são os dados e suas utilizações em cada nível de uma empresa,
        considerando o setor de produção. Observe que cada colaborador, utiliza informações diferentes,
        que muitas vezes originam-se dos mesmos dados. É o caso da produção diária, produção
        mensal e lucro anual. Todos estão relacionados ao número de peças produzidas, não é?
      </p>

      <p align="center">
        <img  src="{{url_for('static',filename='img/nivelmaturidade.png')}}" width="600" height="500"id ="box">
      </p>   
      
      <p>
        O cenário apresentado acima se repete em muitas empresas, mas em níveis de maturidade diferentes.
         Há empresas que usam sistemas avançados e empresas que anotam no caderninho.
      </p>    

      <p>
        <b>A questão é: não há como melhorar algo que não se mede. 
        Ou melhor, não se mede e não se observa. Só medir não resolve.</b>
      </p> 

      <p>
        Veja a imagem abaixo. Qual fica mais fácil de entender o quê ocorreu, 
        antes (tabel) ou depois (gráficos)?
      </p>

      <p>
        Este é um exemplo de como nós da <a href="https://www.linkedin.com/company/smartos-br/">SmartOS</a> podemos te ajudar empresas a utilizar seus dado
        s da melhor forma. Apenas com os horários das paradas de máquinas e seus motivos, geramos 
        indicadores que permitem com que os gestores possam prestar atenção nos setores e motivos
         que causam mais paradas. É a transformação de dados em informações!
      </p>
      
      <p align="center">
          <img src="{{url_for('static',filename='img/dadoschaodefabrica.png')}}"border-radius: 50%; width="700" height="400"id ="box"> 
      </p>
      <p>
        Neste contexto, existem diferentes níveis de maturidade na utilização dos dados:
      </p>
      
      <p>
      <ul>
        <li>
          <b>Dados crus:</b> trazem baixo valor para a companhia, muitas vezes estão ainda no papel 
          e ficam armazenados em arquivos. Sabe aquela ficha que você preenche no setor X,
          para onde ela vai? Esses dados são analisados? Quais decisões aquela folha ajuda 
          o gestor tomar?
        </li>
        <br>
        <li>
          <b>Informação:</b> dados começam a trazer valor, mas os relatórios não são automatizados. 
          Cada funcionário analisa do seu seu jeito. Muitos utilizam um arquivo em Excel, 
          sem gestão da informação, onde os dados são inseridos de qualquer jeito.
           Caso esse funcionário saia da empresa, ninguém sabe o quê fazer e como fazer.
        </li>
        <br>
        <li>
          <b>Business Intelligence:</b> neste ponto, a empresa já entendeu a importância dos dados 
          e utiliza ferramentas para a estruturação e organização dos dados. Utiliza sistemas
          para entrada de dados e possui tratamento dos dados gerando indicadores de forma
          automatizada. Aqui, a empresa encontra respostas para as perguntas como: O que 
          aconteceu? Por quê aconteceu? Observa ocorrências do passado para trazer mais
          eficiência aos seus processos.
        </li>
       <br>
        <li>
          <b>Análise avançada:</b> neste cenário, a empresa busca conhecimento profundo sobre os seus dados
           e fazer análises preditivas. Aqui se aplicam conceitos como Machine Learning e 
           Inteligência Artificial buscando responder perguntas como: O quê vai acontecer? 
           Qual é o melhor conjunto de ações a ser tomado?
        </li>
      </ul>
      </p>

      <p>
        A sua empresa não precisa sair do zero direto para a análise avançada e nem mesmo
        estruturar todo um banco de dados complexo para dar o primeiro passo. Eu garanto
        que algum tipo de dado você já gera, que tal transformá-los em informação?
        Existem profissionais capacitados e ferramentas que permitem a conexão aos
        dados e visualização das principais informações de forma mais rápida. Uma 
        delas é o Self-service BI com ferramentas tais como o Power BI e o Tableau. 
      </p>
      <p>
        Mas isso assunto para outro post, até mais!
      </p> 
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/scripts.js')}}"></script>      
 {%endblock%}
       