{% extends 'base.html' %}
 {%block content%}

<div  style="background:white">
  <div class="container-fluid bg-degrade">
    <div class="slider-active">
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-7  ">
                        <div class="hero__caption text-white">
                            <br><br>
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">Gerenciamento de Produção</h1>  
                                <h1 data-animation="fadeInLeft" data-delay=".8s">
                                    com <b style= "background-color: #341933">PowerApps</b> 
                                    e Integração com <b style= "background-color: yellow">Power BI</b> 
                               </h1>
                              <br><br><br> 
                             <a data-animation="fadeInLeft" data-delay="1s" href="#" class="btn btn-success btn-lg">Peça seu Projeto</a>
                      
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class=" d-none d-lg-block f-right ">
                            <br><br><br><br><br><br>
                            <img align="left" src="{{url_for('static',filename='img/logop.png')}}" width="100%" height="500"id ="box"data-animation="fadeInRight" data-delay="1s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div> 

 
    <div  style="bg-degrade">
        <div class="container">
            <div>
                <hr class="featurette-divider">
                <h1 align="center">Fique de Olho.</h1>
                <p align="center">
                <p>A equipe da RBA Digital apresenta soluções e melhorias para seu negócio, visando a automatização e simplicidade no processo de gerenciamento do mesmo.
                Com o auxilio de ferramentas cada vez mais fortes no ramo da tecnologia como o PowerApps e PowerBI, que podem fazer integrações com diversos tipos de banco de dados nós trabalhamos com o único objetivo de satisfazer nossos clientes.</p>
                <p>Nesse contexto, apresentamos a seguir uma demonstração de um dos nossos projetos. 
                <p>O problema em questão trata-se de uma empresa que precisa de um sistema para controlar em tempo real o andamento dos serviços que ela realiza. Logo abaixo nota-se um protótipo para a soluçao desse problema.</p>  
                <p>  
                </p>
                <br><br>
                 <hr class="featurette-divider">
                <h1 align="center">Solução da Proposta</h1>
                <p>A imagem a seguir mostra a solução proposta para o dado problema. Percebe-se que os sistema realiza desde a coleta de dados para assim gerar informações e a partir disso poder ser realizadas melhores tomadas de decições.</p>   
                <img src="{{url_for('static',filename='img/img1.png')}}" width="100%" height="500"id ="box"data-animation="fadeInRight" data-delay="1s">
                <br><br>
                <p>Aqui podemos ver com mais detalhes algumas funções do software.</p> 
                 <hr class="featurette-divider">
                <h1 align="center">DADOS: Aplicação para Controle de Produção</h1>
                <img  src="{{url_for('static',filename='img/img2.png')}}" width="90%" height="400"id ="box"data-animation="fadeInRight" data-delay="1s">
                <br><br>
                <p>Após a coleta dos dados utilizamos o Power Bi para fazer o tratamento dos mesmos integrando assim com o PowerApps(ferramenta de desenvolvimento do software).</p>
                <p>A seguir é possível ver esses dados tratados gerando diversas informações imprencidíveis pra o gerenciamento da empresa.</p>
                 <hr class="featurette-divider">
                <h1 align="center">Inteligência: Visualizando os Dados</h1> 
                <iframe align="center" width="100%" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiY2Q1YjNjZDEtZTk2MS00ODViLWI5M2EtNTg1MjVjNDFjOGY0IiwidCI6IjdjNTYxMGI3LTk5NjktNGRmZC1iY2QzLWQ4YzVjNDU1N2QzZSJ9" frameborder="0" allowFullScreen="true"></iframe>
                <br><br>
                <hr class="featurette-divider">
                <h1 align="center">Benefícios da Solução Proposta</h1>
                <br><br>
                <img align="center" src="{{url_for('static',filename='img/img4.png')}}" width="80%" height="400"id ="box"data-animation="fadeInRight" data-delay="1s">
                <br><br>
                <hr class="featurette-divider">
                <h1 align="center">Destaques da Solução</h1>
                <img align="center" src="{{url_for('static',filename='img/img5.png')}}" width="100%" height="400"id ="box"data-animation="fadeInRight" data-delay="1s">
                <br><br>
                 <hr class="featurette-divider">
                <h1 align="center">Arquitetura da Solução</h1>
                <img align="center" src="{{url_for('static',filename='img/img6.png')}}" width="100%" height="500"id ="box"data-animation="fadeInRight" data-delay="1s">
            </div>
        </div>         
    </div>
</div>
   
    
         
   
   

{% endblock %}