
{% extends 'base.html' %}
 {%block content%}

  <style type="text/css">
   .bg-logo{
      background: url({{ url_for ('static', filename = 'img/fc.jpg') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border-radius:7px;
      }
      .bg-back{
      background: url({{ url_for ('static', filename = 'img/carbon.jpg') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border
      -radius:7px;
      }
      .bg-backroxo{
      background: url({{ url_for ('static', filename = 'img/roxo.jpg') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border
      -radius:7px;
      }
        .bg-efeito{
      background: url({{ url_for ('static', filename = 'img/detail-right-home.png') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border
      -radius:7px;
      }
        .bg-laranja{
      background: url({{ url_for ('static', filename = 'img/laranja2.png') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border
      -radius:7px;
      }
      .teste{
      background: url({{ url_for ('static', filename = 'img/y.jpg') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border-radius:7px;
      }
      .yellow{
      background: url({{ url_for ('static', filename = 'img/yellow.jpg') }});
      background-size: cover;
      -moz-border-radius:7px;
      -webkit-border-radius:7px;
      border-radius:7px;
    }
  </style>

<div class="slider-area slider-bg ">
  <div class="slider-active">

      <div class="single-slider d-flex align-items-center slider-height ">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-xl-5 col-lg-5 col-md-9 ">
                      <div class="hero__caption">
                          <br><br><br><br>
                          <h1 data-animation="fadeInLeft" data-delay=".6s ">Crie aplicativos e Dashboards</h1>
                          <p data-animation="fadeInLeft" data-delay=".8s">
                            Utilize ferramentas como PowerApps e Power Bi para criar aplicativos,  dashboards e destaque-se no mercado.   
                          </p>
                          <a data-animation="fadeInLeft" data-delay="1s" href="#faleConosco" class="btn btn-success btn-lg">Contate-nos</a>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6">
                      <div class=" d-none d-lg-block f-right">
                            <br><br><br><br>
                            <img align="left" src="{{url_for('static',filename='img/power-platform-apps.png')}}"alt="" data-animation="fadeInRight" data-delay="1s">
                      </div>
                  </div>
              </div>
          </div>
      </div>      
  </div>
  <!--================================================== -->
  <div class="slider-area slider-bg  " style="background:#111">
  <div class="slider-active bg-efeito">

      <div class="single-slider d-flex align-items-center slider-height ">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-xl-5 col-lg-5 col-md-9 order-2 ">
                      <div class="hero__caption">
                          <br><br><br><br>
                          <h1 >Quem Somos</h1>
                          <p>
                           Powerapps Brasil<i> oferece um mundo de possibilidades </i> oferecemos consultoria e desenvolvemos projetos para o seu conforto.
                          </p>
                          <a  href="#faleConosco" class="btn btn-success btn-lg">Contate-nos</a>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 order-1">
                      <div class=" d-none d-lg-block f-right ">
                            <br><br><br><br>
                          <img align="left" src="{{url_for('static',filename='img/PowerApps_perex_nNEW (1).png')}}" width="100%" height="500"id ="box">
                      </div>
                  </div>
              </div>
          </div>
      </div>      
  </div>

  <div class="container-fluid " style="background:#111">
    
        <div class="container text-white ">
            <hr class="featurette-divider">
           <h1  class="elementor-heading-title elementor-size-default ">NOSSOS SERVIÇOS</a></h1>
           <img src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="500" height="6">
            
            <div class="row justify-content-center">
                
                <div class="col-lg-4 col-md-8">
                <br>
                    <div class="ps-item pi-price embed-responsive bg-back">
                        <br>
                        <img src="{{url_for('static',filename='img/pwa.png')}}"border-radius: 50%; width="100%" height="100%"id="box">
                        <br><br>
                        <ul>
                            <li> <p>Uma plataforma de serviços, dados e conectores que permite que a sua empresa crie aplicativos empresariais de maneira mais ágil e simples.</p><li>
                        </ul>
                        <p><a class="btn btn-success btn-lg" href="#faleConosco" role="button">Entre em Contato&raquo;</a></p>
                    </div>
                </div>
               
                 <div class="col-lg-4 col-md-8">
                    <div class="ps-item pi-price embed-responsive bg-back">
                        <br>
                        <img src="{{url_for('static',filename='img/pbip.png')}}"border-radius: 50%; width="140" height="140"id="box">
                        <br><br>
                        <ul>
                            <li>  <p> Crie visualizações completas e atrativas, bem como aplique filtros, publique e compartilhe relatórios e Dashboards com quem quiser.</p></li>
                        </ul>
                        <p><a class="btn btn-success btn-lg" href="#faleConosco" role="button">Entre em Contato&raquo;</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item pi-price embed-responsive bg-back">
                        <img src="{{url_for('static',filename='img/pauto.png')}}"border-radius: 50%; width="130" height="130"id="box">
                        <br><br>
                        <ul>
                            <li>   <p>  Crie fluxos de trabalho automatizados entre seus aplicativos e serviços favoritos para sincronizar arquivos, obter notificações.</p></li>  
                        </ul>
                         <p><a class="btn btn-success btn-lg" href="#faleConosco" role="button">Entre em Contato&raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="slider-active bg-laranja">

                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-5 col-lg-5 col-md-9  ">
                                <div class="hero__caption">
                                    <br><br><br><br>
                                    <h1 >Use Dashboards em sua empresa</h1>
                                    <p>
                                    Powerapps Brasil<i> oferece um mundo de possibilidades </i> oferecemos consultoria e desenvolvemos projetos para o seu conforto.
                                    </p>
                                    <a  href="#faleConosco" class="btn btn-success btn-lg">Sobre</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class=" d-none d-lg-block f-right ">
                                      <br><br><br><br>
                                    <img align="left" src="{{url_for('static',filename='img/support-main-header.png')}}" width="100%" height="400"id ="box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
           </div>
      
      <div class="container marketing ">
         <div class="container">
           <a name="Cursos"  style="text-decoration:none ">
           <br><br>
            <h1 class="elementor-heading-title elementor-size-default text-white ">Conheça Nossos Cursos</a></h1>
           </a>
           <img src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="500" height="6">
          </div>  
        <hr class="featurette-divider">
          
          <div class="row bg-backroxo featurette text-white">
            <div class="col-md-7 order-md-2 embed-responsive">
                <img align="right"  src="{{url_for('static',filename='img/udemy.png')}}"border-radius: 50%;width="300" height="100"; >  
                <br><br><br><br>
                <h2 class="featurette-heading"> Comece agora e esteja preparado para oportunidades de mercado.</h2>
                <img   src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="200" height="6"id ="box"> 
              . <br><br>
                <ul>
                <div class="features-container section-container">
                  <div class="container">
                    
                      <div class="row">
                          <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                              <div class="col-sm-9">
                                <h5>Entender como a plataforma de desenvolvimento do Microsoft PowerApps funciona.</h5>      
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                              <div class="col-sm-9">
                                <h5>Criar app reais e funcionais que podem ser executados nas plataformas: android, ios, windows e em navegadores.</h5>   
                              </div>
                            </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-6 features-box wow fadeInLeft">
                              <div class="col-sm-9">
                                <h5>Utilizar a documentação do PowerApps para aprender novos recursos sempre que necessário.</h5> 
                              </div>
                          </div>
                          <div class="col-sm-6 features-box wow fadeInLeft">
                           <br><br>
                            <div class="row">
                              <div class="col-sm-9">
                                <p ><a target="_blank"class=" btn btn-danger btn-lg" href="https://www.udemy.com/course/aplicativos-com-powerapps-aprenda-desenvolvendo/?referralCode=5919DEA3BD9BB0849E9F" role="button">Comece Agora</a></p>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>      
            </div>
            <div class="col-md-5 order-md-1 embed-responsive">
              <img class="bloco2"  src="{{url_for('static',filename='img/powera.png')}}"border-radius: 50%; width="450" height="650"id ="box">
            </div>
           </div>
        </div>
      </div>  
    </div>
   </div> 

     <div style="background:#111">
      
     <div class="container">
        <div >
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="section-title text-white">
                        <br><br>
                        <h1  class="elementor-heading-title elementor-size-default ">Conecte-se com sua Fonte de dados Preferida</a></h1>
                        <img src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="800" height="6">
            
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid card ps-item2">
            <div class="services__list">
                <div class="row">
                    <div class="col-xl-2 col-md-4 col-sm-6  ">
                        <div class="services__item">
                          <img align="center"class="rounded-circle"  src="{{url_for('static',filename='img/mysql.png')}}" width="100" height="100" id ="box">
                             <br> 
                            <h5>Mysql</h5>
                        
                        </div>
                    </div>
                    
                    <div class="col-xl-2 col-md-4 col-sm-6  ">
                        <div class="services__item">
                    <img class="rounded-circle"  src="{{url_for('static',filename='img/excel.jpg')}}" width="100" height="100" id ="box">
                           <br>
                            <h5>Excel</h5>
                          
                        </div>
                    </div>
                     
                    <div class="col-xl-2 col-md-4 col-sm-6  ">
                        <div class="services__item">
                            <img class="rounded-circle"  src="{{url_for('static',filename='img/p.png')}}" width="100" height="100" id ="box">
                            <br>
                            <h5>PowerBi</h5>
                           
                        </div>
                    </div>
                   
                    <div class="col-xl-2 col-md-4 col-sm-6  ">
                        <div class="services__item">
                              <img class="rounded-circle"  src="{{url_for('static',filename='img/usu.png')}}" width="100" height="100" id ="box">
                           <br>
                            <h5>Usuário 365</h5>
                            
                        </div>
                    </div>
                     <div class="col-xl-2 col-md-4 col-sm-6  ">
                        <div class="services__item">
                              <img class="rounded-circle"  src="{{url_for('static',filename='img/git.png')}}" width="100" height="100" id ="box">
                            <br>
                            <h5>Git</h5>
                           
                        </div>
                    </div>
                     <div class="col-xl-2 col-md-4 col-sm-6 ">
                        <div class="services__item">
                              <img class="rounded-circle"  src="{{url_for('static',filename='img/onedrive.png')}}" width="100" height="100" id ="box">
                            <br>
                            <h5>OneDrive</h5>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>  
    </div>
   <section class="latest spad text-white"style="background:#100028">
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h1  class="elementor-heading-title elementor-size-default text-white ">Fique por dentro</a></h1>
                        <img src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="400" height="6">
            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest__slider owl-carousel ">
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2  latest__item">
                            <img class="card"  src="{{url_for('static',filename='img/pc.jpg')}}"border-radius: 50%; width="150" height="150">
                            <p>It'sSeg analisa riscos de Covid-19 com Power BI</p>
                            <p><a class="btn btn-lg btn-success" href="blogpost" role="button">Ver Mais&raquo;</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2  latest__item">
                           <img class="card" src="{{url_for('static',filename='img/metro.jpg')}}"border-radius: 50%; width="150" height="150">
                            <p>Funcionários do Metrô de Salvador criam aplicativo de gerenciamento de manutenção de trem com PowerApps</p>
                            <p><a class="btn btn-lg btn-success" href="#" role="button">Ver Mais&raquo;</a></p>
                       
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2  latest__item">
                            <img class="card"  src="{{url_for('static',filename='img/cpbi.jpg')}}"border-radius: 50%; width="150" height="150">
                            <p>Conhece o PowerBi?.                        </p>
                            <br><br>
                            <p><a class="btn btn-lg btn-success" href="blogpost4" role="button">Ver Mais&raquo;</a></p>
                       
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2  latest__item">
                            <img class="card"  src="{{url_for('static',filename='img/Card_PowerApps_Mailto.png')}}"border-radius: 50%; width="150" height="150">
                            <p>Abrindo Seu Gerenciador de Emails no PowerApps com uma URL de Email.</p>
                            <p><a class="btn btn-lg btn-success" href="blogpost5" role="button">Ver Mais&raquo;</a></p>
                       
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2 latest__item">
                             <img class="card"  src="{{url_for('static',filename='img/Card_PowerApps_Search.png')}}"border-radius: 50%; width="150" height="150">
                            <p>Veja como Realizar filtro de Dados no PowerApps.</p>
                            <p><a class="btn btn-lg btn-success" href="blogpost6" role="button">Ver Mais&raquo;</a></p>
                       
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item bg-back ps-item2  latest__item">
                            <img class="card"  src="{{url_for('static',filename='img/destaque1.png')}}"border-radius: 50%; width="150" height="150">
                            <p>Microsoft apresenta plataforma que visa tornar mais seguro o retorno ao ambiente de trabalho.</p>
                            <p><a class="btn btn-lg btn-success" href="blogpost2" role="button">Ver Mais&raquo;</a></p>
                       
                        </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>  
  
 <div class="bg-logo container-fluid">
  <div class="container text-white">
    <div class="row justify-content-md-center">
      <div class="col-7">
      
        {% if success %}
           <p>Obrigado pela sua mensagem. Entraremos em contato com você em breve.</p>
      
        {% else %}  
          {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          
          {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          
          {% for message in form.subject.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          
          {% for message in form.message.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}

          <form action="{{ url_for('index') }}" role="form" method="post" id="reused_form" >
               <h1 align"center">
                 <a name="faleConosco"  style="text-decoration:none "
                   class="title-3 m--title-6 mt-2  text-white">Fale Conosco
                 </a>
               </h1>
    <img src="{{url_for('static',filename='img/linha.png')}}"border-radius: 50%; width="500" height="6">
          
            {{ form.hidden_tag() }}
            <br><br>
            <div class="form-row">
              <div class="form-group col-md-6 ">
                <label for="name">Nome:</label>
                <input type="name"  class="form-control"id="name" name="name"   required maxlength="50">
              </div>

              <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="email" class="form-control"id="email" name="email" required maxlength="50">
              </div>
            </div>

              <div class="form-group">
                <label for="subject">
                    Assunto:</label>
                <input type="subject" class="form-control"
                id="subject" name="subject" required maxlength="50">
            </div>
            <div class="form-group ">
                <label for="message">
                    Mensagem:</label>
                <textarea class="form-control" type="textarea" name="message"
                id="message" placeholder="Sua mensagem aqui"
                maxlength="6000" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Enviar! →</button>

          </form>
          <br><br>
        {% endif %}

      </div>       
    </div>
  <div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.backstretch.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/js/wow.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/retina-1.1.0.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
  <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
{% endblock %}

 